.communityblogs-container {
    padding: 30px 18px 30px 18px;
}

.communityblog-heading {
    margin: 10px 0px 10px 0px;
    font-size: 19px;
    letter-spacing: 1.2;
    word-spacing: 1.7;
    font-family: "Mozilla Headline", "Poppins", sans-serif;
}

.community-Grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    column-gap: 10px;
}

.communityBlog-cellOne {
    background-image: url('/bg2.avif');
    height: 250px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    color: #ffffff;
    padding: 0px 15px 25px 15px;
    font-weight: bold;
    letter-spacing: 1.2;
    border-radius: 3px;
    font-size: 12px;
}

.communityBlog-cellFive {
    height: 130px;
    width: 100%;
    background-color: #F9F8FD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 0.1px dashed #d1d5db;
}

@media screen and (min-width:900px) {
    .communityblogs-container {
        padding: 30px 63px 30px 63px;
        gap: 20px;
    }

    .community-Grid {
        grid-template-columns: repeat(5, 230px);
        grid-row: 300px 300px;
    }

    .community-Grid> :nth-child(2) {
        grid-column: 2 / 4;
    }

    .community-Grid> :nth-child(3) {
        grid-column: 4 / 6;
    }

    .community-Grid> :nth-child(5) {
        grid-column: 3 / 3;
    }

    .community-Grid> :nth-child(6) {
        grid-column: 4 / 6;
    }

    .communityblog-heading {
        font-size: 35px;
        margin: 20px 0px 30px 0px;
    }

    .communityBlog-cellOne {
        width: 230px;
    }

    .communityBlog-cellFive {
        height: 240px;
        width: 220px;
    }
}