.bigTechContainer2 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
    width: max-content;
    flex-wrap: wrap;
    border-top: 0.1px dashed #87868c;
    border-bottom: 0.1px dashed #87868c;
    padding: 10px 0px;
}

.bigTechContainer2>.bigtechList2 {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
    width: 100%;
    padding: 0;
}

.bigtechSvg2 {
    object-fit: contain;
    height: 15px !important;
    width: auto !important;
    max-width: 120px;
    filter: brightness(0);
}

.bigtechSvg2:nth-child(3) {
    height: 17px !important;
}

.bigtechSvg2:last-child {
    height: 40px !important;
}

.bigtechSvg-fixed {
    filter: brightness(0) invert(1);
    height: 40px !important;
    width: 120px !important;
    object-fit: contain;
}

@media screen and (min-width: 900px) {
    .bigTechContainer2 {
        flex-direction: row;
        align-items: center;
        gap: 25px;
        width: max-content;
        padding: 29px 0px 29px 0;
    }

    .bigTechContainer2>.bigtechList2 {
        width: max-content;
        gap: 30px;
    }
}