.mobile-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: max-content;
    width: 100%;
    padding: 8px 18px;
    transition: 0.3s ease-in-out;
    transform-origin: top;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999; 
    background-color: transparent;
}

.white-container {
    background-color: #ffffff;
}

.brand-logo {
    font-family: 'Switzer', sans-serif;
    color: #ffffff;
    font-weight: 800;
    letter-spacing: 1.7px;
    font-size: 17px;
}

.black {
    color: #000000;
}

.menu-icon-wrapper {
    border: 1px solid #e9e7ee;
    width: max-content;
    padding: 4px;
    border-radius: 2.5px;
    cursor: pointer;
}

.menu-icon-container {
    background: #a0a9bf4d;
    border-radius: 2.5px;
    -webkit-backdrop-filter: blur(4.5px);
    backdrop-filter: blur(4.5px);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuIcon {
    fill: var(--whiteColor);
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}

.menuIcon-white {
    fill: black;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

@media screen and (min-width: 900px) {
    .mobile-header-container {
        display: none;
    }
}